<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>MovieFlix</title>

    <link
        rel="stylesheet"
        href="/css/style.css"
    >

    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    >

</head>

<body>

<header class="navbar">

    <div class="logo">

        MOVIEFLIX

    </div>

    <nav>

        <a href="/">

            Home

        </a>

        <% if(typeof categories !== 'undefined'){ %>

            <% categories.forEach(category => { %>

                <a
                    href="/?category=<%= category.name %>"
                >

                    <%= category.name %>

                </a>

            <% }) %>

        <% } %>

    </nav>

    <div class="right-nav">

        <form
    action="/"
    method="GET"
    class="search-form"
>

    <% if(category){ %>

        <input
            type="hidden"
            name="category"
            value="<%= category %>"
        >

    <% } %>

    <input
        type="text"
        name="search"
        placeholder="Search movies..."
        autocomplete="off"
        value="<%= search || '' %>"
    >

    <button type="submit">

        <i class="fa fa-search"></i>

    </button>

</form>

        <% if(user){ %>

            <% if(user.role === "admin"){ %>

                <a
                    href="/admin"
                    class="nav-btn"
                >

                    Admin

                </a>

            <% } %>

            <a
                href="/logout"
                class="nav-btn"
            >

                Logout

            </a>

        <% } else { %>

            <a
                href="/login"
                class="nav-btn"
            >

                Login

            </a>

            <a
                href="/register"
                class="nav-btn"
            >

                Register

            </a>

        <% } %>

    </div>

</header>